<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>file</title>
	<link rel = "Shortcut Icon" href="https://static.ifthat.com/public/data/favicon.ico">
	<link href="public/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="public/css/all.css">
	<link href="public/css/green.css" rel="stylesheet">
	<link href="public/css/index.css" rel="stylesheet">
	<link href="public/css/font.css" rel="stylesheet">
	<!-- <script>
		// Initialize the agent at application startup.
		const fpPromise = import('https://openfpcdn.io/fingerprintjs/v3')
			.then(FingerprintJS => FingerprintJS.load())
	
		// Get the visitor identifier when you need it.
		fpPromise
			.then(fp => fp.get())
			.then(result => {
				// This is the visitor identifier:
				const visitorId = result.visitorId
				window.localStorage.wmUserInfo = JSON.stringify({ userId: visitorId, userTag: 'file', projectVersion: '1.0.2' })
			})
	</script>
	<script src="public/js/webfunny.min.js"></script> -->
</head>
<body>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" id="del" value="">是的</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">不了</button>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-light">
		<div class="container">
			<h1 style="font-family: 'Lobster', cursive;">Integrated Document Transmission</h1>
		</div>
	</div>
	<br><br>

	<div class="alert alert-info alert-dismissible fade show" role="alert"></div>

	<div class="container">
		<div class="form-group" id="box">
			<div id="drop_area">
				<h3>将文件拖拽到此上传，或直接按 ctrl+v 粘贴截图或文字</h3>
			</div>
		</div>
		<div>
			<!-- <form action="/upload" enctype="multipart/form-data" method="post"> -->
			<input type="file" style="display: none" class="btn" id="upload">
			<!-- <input type="submit" value="sun"> -->
			<label class="btn btn-outline-info" id="uploadBtn" for="upload"><i class="fa fa-upload"></i> 选择文件</label>
			<label class="btn btn-outline-info" id="textUpload">上传文本</label>
			<label class="btn btn-outline-info" id="textShow">显示文本</label>
			<label class="btn btn-outline-info" id="textSave">保存为文本文件</label>
			<label class="btn btn-outline-info" id="toggle">切换</label>
			<label class="btn btn-outline-info" id="operation"><i class="fa fa-bars"></i> 批量操作</label>
		</div>
		
		<div class="content">
			<li class="row">
				<div class="col-md-4">
					名字
					<button class="btn btn-outline-info btn-sm" style="display: none" id="seleteAll" name=false>全选</button>
					<button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal" id="seleteDel" style="display: none"><i class="fa fa-trash"></i> 删除</button>
				</div>
				<div class="col-md-4">操作</div>
				<div class="col-md-2">大小</div>
				<div class="col-md-2">日期</div>
			</li>
		
			<ul class="list-unstyled" id="fileList">
				{% for file in fileList %}
				<li class="row">
					<span class="col-md-4">
						<span class="checkboxs" style="display: none">
							<input type="checkbox" value="{{file.name}}"> <i class="far fa-file"></i>
						</span>
					{{file.name}}
					</span>
					<span class="col-md-4" style="opacity: 0.5">
						<a href="javascript:;" onclick="del(this)" title="删除" data-toggle="modal" data-target="#exampleModal" class="delBtn" name="{{file.name}}"><i class="far fa-trash-alt fa-lg"></i></a>
						<a href="./public/data/{{file.name}}" title="下载" download><i class="fa fa-arrow-down fa-lg"></i></a>
						<a href="./public/data/{{file.name}}" title="打开" target="_block"><i class="far fa-envelope-open fa-lg"></i></a>
						<a href="javascript:;" onclick="copy(this)" title="复制链接地址" name="{{file.name}}" ><i class="far fa-copy fa-lg"></i></a>
					</span>
						
					<span class="col-md-2">{{file.size}}</span>
						
					<span class="col-md-2">{{file.time}}</span>
				</li>
				{% endfor %}
			</ul>
			<input type="text" id="copy">
		</div>
		
	</div>
	<script src="public/js/jquery.min.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
	<script src="public/js/icheck.min.js"></script>
	<script src="public/js/spark-md5.min.js"></script>
	<script type="text/javascript" src="public/js/index.js"></script>
</body>
</html>
