.navbar {
	background: #90d7ec;
}

.alert {
	display: none;
	width: 15%; 
	position: fixed;
	right: 20px; 
	top: 80px; 
	background: rgba(51,163,220,0.3); 
	
}

ul {
	margin-bottom: 0px;
}

ul li {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: solid #aaa 1px;
	transition: background 1s;
}

ul li:hover {
	background: rgba(51,163,220,0.3);
}

ul a {
	margin-right: 20px;
	color: #888;
	transition: color 0.5s;
}

ul a:hover {
	color: black;
}

.content {
	border: solid #aaa 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.content .row div {
	padding-top: 15px;
	padding-bottom: 15px;
}

#copy {
	position: absolute; 
	top:0px;
	z-index: -1
}